div.stackContent
  span Offenlegung §25 MedienG:
    p Medieninhaber und Herausgeber: Oliver Oszko, Wien
  span Haftung:
    p Sämtliche Texte auf der Website wurden sorgfältig geprüft. Dessen ungeachtet kann keine Garantie für Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen werden.