div.stackContent#column1box
  h1 Welcome to #{title}
  p Diese Web-Seite soll das durchsuchen von Stellenangebote vereinfachen.
  p Sie können ihre Persönliche Berufsgruppen zusammen stellen und diese Auf der Karte darstellen
  p &nbsp;
  p Diese seite ist noch in der entwicklung , es können wesentliche ändrungen geben und fehler sind nicht auszuschliesen.
  p IE(InernetEcplorer) wird nicht unterstützen. dafür Google Chrome , Safarie oder FireFox.
div#slogen.stackContent= slogen