div.stackContent#column1box
  h1 Welcome to #{title}
  p Diese Web-Seite soll das durchsuchen von Stellenangebote vereinfachen.
  p Sie können ihre Persönliche Berufsgruppen zusammen stellen und diese Auf der Karte darstellen
  p &nbsp;
  p Diese Seite ist noch in der Entwicklung , es können wesentliche Ändrungen geben und Fehler sind nicht Auszuschliesen.
  p IE(InternetEcplorer) wird nicht unterstützen. dafür Google Chrome , Safari oder FireFox.
  p &nbsp;
  p &nbsp;
  p This web page is to simplify the search of jobs.
  p They can put their personal and professional groups they represent on the map
  p &nbsp;
  p This page is still under development, it can provide significant new changes and errors are not Auszuschliesen.
  p IE (InternetEcplorer) will not support it. for Google Chrome, FireFox or Safari.

//-div#slogen.stackContent= slogen