!!! 5
html(lang="de")
  head
    //-link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Permanent+Marker',type='text/plain')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Paytone+One',type='text/plain')
    meta(charset='utf-8')
    //-meta(http-equiv="X-UA-Compatible" content="chrome=1")
    //-meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    title= pageTitle
    meta(name="description", content="Jobpins zeigt auf Google Maps Stellenangebote vom Ams grafisch da")
    meta(name="google-site-verification", content="iKN2yZyVCftauq-qUSTebFpjyMIgAllVx2cI6LEYu6E")
    meta(name="author", content="Oliver Oszko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //-meta(http-equiv="content-language", content="DE")
    link(rel='stylesheet', href='stylesheets/style.css')
    //-.holmes-debug
  body
    #page
      .stack
        #header.stackContent
          ///-.stack3of4
          //-#title.stackContent
          span#title Jobpins
          div#slogen
          div#infoel
            ul#info-list
        #map_canvas.stackContent
        #searchapp
          #searchColumn.stackContent
            .zoomWien
              a(href="#!/zoomwien")
                img(width='48', height='48',src='images/Wien_Wappen.png', alt='Wien' ,title='Zoom Wien')
            span.ui-tooltip-bottom Press Enter to save this task
            input#new-search.placeholder(placeholder='Loading', type='text')
            //-#suggestColumn.stackContent
            ul#suggest-list
            .circleMap
              img(width="48",height='48',src='images/circleMapAc2.png',alt="Circle", title='Radius Mode Deactiv')
            .circleMapAc
              img(width="48",height='48',src='images/circleMapAc.png',alt="Circle", title='Radius Mode Activ')
            ul#marker-list
          != body
        #footer.stackAuto
          .wrapper
            .stack1of4
              - var year = (new Date).getFullYear()
              p.stackContent(style="padding-top:10px") &copy; #{year} Oliver Oszko
            .stack1of4
              a.stackContent(href='impressum')(style="padding-top:10px") Impressum
            .stack1of4
              a.stackContent(href='http://www.twitter.com/ovenaut')(style="padding-top:10px") Follow me on Twitter
            .stack1of4
              .donate.stackContent(style="padding-top:7px")
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHJwYJKoZIhvcNAQcEoIIHGDCCBxQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBoUCj3eE9JhZ9VLP+ZRweof5e8DvtC+Z/ccIKLPcL/zhmvAAfhB7yUaFyuGfth3L2xFWEGrjl+rFYPJjV7OGufl9YPsDR/7jPMhRje1YIUi4txR/VwJvEa9UbC7OcmpCvz8ZEctJxIx7dV96D3R/cgpHW4DRYmrlNaeUKg+Tzd0DELMAkGBSsOAwIaBQAwgaQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIqMkZn2JY8LWAgYAAtH96zwtzlBf5GDXyppJNHlRJVz0cSpyg3Bre3UPAeG3zljbYMHF6WgElu+FODMnAd+RwxhTBOY8cc/JNZQ3mBYFVsANoe/OmKXQ2b1DdKgzLwpz2aL9H+xxLnGeuuYEHBd0Mg+yG5xm1cvtlQkgQwsHxnVvEcKB7cOuXmoq32qCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTExMDcxMDE3MzAyNlowIwYJKoZIhvcNAQkEMRYEFLp2Y3cdwL0JKv1iCTQb2YdXkCIeMA0GCSqGSIb3DQEBAQUABIGAMfXF48ZR3Tz7lUg++jIl6HK7IO3ngCOOmiXlFYjwC57qFlRm0VB+AvjZnJKKxGZfEDwync8tY45kCKkq/C1SeEQ7radp8vbfCKBBWQXLudIrnps106UQ6QMWP8f138clxJXdtDEkuBATvIaxpJT10sbIkk6nZVfV+DG7s3v+l7w=-----END PKCS7-----
                ">
                <input type="image" src="https://www.paypalobjects.com/de_DE/AT/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
                <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>
    script#suggest-template(type="text/template")
      <div class="display">
      <div class="suggest-content <%= selected ? 'selected' : '' %>"><%= content %></div>
      <span class="gui <%= up ? 'up' : '' %><%= down ? 'down' : '' %>">&#x20;</span>
      </div>
    script#searchItem-template(type="text/template")
      <div class="display" style="background:<%= color %>;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(<%= color %>));background: -moz-linear-gradient(top, #fff,<%= color %>);">
      <div class="search-content <%= activ? ' activ':''%>"><a href="#!/categories/<%= urlname %>/<%= page %>" title="<%=altText%>"><%= content %></a></div>
      <span class="search-destroy"></span>
      <span class="search-counter"><%= counter? counter : 'loading' %>
      </div>
    script#document-template(type="text/template")
      <div class="documentbox stackContent" style="-box-shadow: 0 0 7px <%= color %>; -moz-box-shadow: 0 0 7px <%= color %>;-khtml-box-shadow: 0 0 7px <%= color %>;-webkit-box-shadow: 0 0 7px <%= color %>">
      <div class="display">
      <div id="navigation">
      <div class="stack1of4">
      <div class="navigationback stackContent" style="background:<%= color %>;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(<%= color %>));background: -moz-linear-gradient(top, #fff,<%= color %>);">
      <%= index!=last? backText.link(urlname + '/' + last): ''%>
      </div>
      </div>
      <div class="stack1of4">
      <div class="navigationforward stackContent" style="background:<%= color %>;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(<%= color %>));background: -moz-linear-gradient(top, #fff,<%= color %>);">
      <%= index!=next? forthText.link(urlname + '/' + next): ''%>
      </div>
      </div>
      <div class="companyname" style="border: 1px solid <%= color %>">
      <div class="text stackContent"><%= company %></div>
      </div>
      <div class="jobdata" style="border: 1px solid <%= color %>">
      <div class="text stackContent"><%= employment %></div>
      </div>
      <div class="jobdata" style="border: 1px solid <%= color %>">
      <div class="text stackContent"><%= education %></div>
      </div>
      </div>
      <div class="documentbody stackContent"><%= body %></div>
      <div id="location"><%= formatted_address %></div>
      <div id="location"><%= joblocation %></div>
      </div>
      </div>
    script#info-template(type="text/template")
      <div><%= content %></div>
      <div><%= date %></div>
      <div class="<%= activ? 'activ':'' %>">&nbsp;</div>
    script#radmarkerItem-template(type="text/template")
      <div class="display"style="background:#99A;border-color:#00F">
      <div class='radmarker-email <%= openEdit?"notsee":"" %>'><%= email %></div>
      <span class='radmarker-destroy'></span>
      <input type="email" autocomplete="on" class="radmarker-input <%= !!email&&!openEdit?'notsee':''%><%= !!email?'" value="'+ email +'"':' placeholder" value="'+ placeholder +'"' %> placeholder="<%= placeholder %>"/>
      <div class='infoLat <%= !!email&&!openEdit?"":"notsee" %>'></div>
      <div class='infoLng <%= !!email&&!openEdit?"":"notsee" %>'></div>
      <div class='infoRad <%= !!email&&!openEdit?"":"notsee" %>'></div>
      </div>
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    //-script(src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js")
    //if IE
      script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js")
      script
        window.attachEvent("onload", function() {CFInstall.check({ mode: "overlay"});});
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24219236-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();  
    script(src='javascripts/vendor/jquery-1.6.min.js')
    script(src='javascripts/vendor/json2.min.js')
    script(src='javascripts/vendor/underscore.min.js')
    script(src='javascripts/vendor/backbone.0.5.0.min.js')
    script(src='javascripts/vendor/backbone.localStorage.js')
    script(src='javascripts/vendor/distancewidget.js')
    script(src='javascripts/vendor/markerwidget.js')
    script(src='javascripts/lib/backbone.suggest.js')
    script(src='javascripts/lib/backbone.info.js')
    script(src='javascripts/lib/backbone.suggest.list.js')
    script(src='javascripts/lib/backbone.search.js')
    script(src='javascripts/lib/backbone.document.js')
    script(src='javascripts/lib/backbone.app.js')
    script(src='javascripts/lib/backbone.map.js')
    script(src='javascripts/lib/backbone.router.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/lib/myscript.socket.js')
    script(src='javascripts/lib/myscript.js')
    
